{% extends 'layout.html' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
  <style> 
#myDIV {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {text-shadow: 10px 20px 30px black;}
}
</style>
  
<body>
<h1 id="myDIV">LIBRARY INFORMATION</h1>

<div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 how-img">
                            <img src="https://c4.wallpaperflare.com/wallpaper/728/926/542/library-ladders-candles-shelves-wallpaper-preview.jpg" class="img-fluid" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h4>About library</h4>
                                        <h4 class="subheading"></h4>
                                        <p class="text-muted">A library is a collection of resources, such as books, periodicals, and electronic materials, made available for use by the public or a specific group of users. Libraries can be physical spaces where people can go to browse and borrow materials, or they can be virtual, with materials available online. Libraries may also offer a range of services, such as research assistance, computer and internet access, and educational programs. Many libraries are organized according to the Dewey Decimal Classification system, which organizes materials by subject. Some libraries may also have special collections, such as rare books or manuscripts, or materials in a particular language. In addition to borrowing materials, libraries may also provide access to databases and other research tools, as well as meeting and event spaces.
                                        It is difficult to predict exactly what the future will hold for libraries, but it is likely that they will continue to evolve and adapt to meet the changing needs of their users. Some potential enhancements that libraries may adopt in the future include</p>

                    
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>About sour library</h4>
                                        
                                        <p class="text-muted">There are many reasons why people go to libraries:

Access to books and other materials: Libraries provide access to a wide range of materials, including books, magazines, newspapers, and electronic resources. This can be especially useful for people who do not have the means to purchase these materials themselves.

Research assistance: Libraries often have staff members who are trained to help people find and use resources for research. This can be particularly helpful for students, researchers, and other people who need access to specialized materials.

Computer and internet access: Many libraries offer computer labs and other resources for people to use, as well as access to the internet. This can be especially useful for people who do not have their own computer or internet access at home.

Educational programs: Libraries often offer educational programs, such as workshops, lectures, and classes, on a wide range of topics. These programs can be a great way for people to learn new things and expand their knowledge.

Community gathering place: Libraries can serve as a community gathering place, providing a space for people to meet and engage in activities such as book clubs, writing groups, and other events.




</p>
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://c1.wallpaperflare.com/preview/563/337/199/book-library-shelf-stack.jpg" class="img-fluid" alt=""/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 how-img">
                             <img src="https://c1.wallpaperflare.com/preview/851/1023/587/library-books-knowledge-information.jpg" class="img-fluid" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h4>History of the library.</h4>
                                  <p class="text-muted"> Libraries have a long history dating back to ancient civilizations. The earliest known libraries were established in the ancient Near East, and were used to store clay tablets with cuneiform writing. The ancient Egyptians also had libraries, including the Library of Alexandria, which was one of the most famous libraries of the ancient world.

In the Western world, the concept of a library as a collection of books for public use emerged in the medieval period. During this time, monasteries and universities established libraries to hold copies of religious texts and other works. These libraries were often open only to clergy and scholars.

The first public library open to the general public was established in the late 18th century in Britain. From there, the concept of the public library spread to other countries, and today, public libraries can be found in cities and towns around the world.



</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>The future of our library</h4>
                                       
                                        <p class="text-muted">It is difficult to predict exactly what the future will hold for libraries, but it is likely that they will continue to evolve and adapt to meet the changing needs of their users. Some potential enhancements that libraries may adopt in the future include:

Increased use of technology: Libraries may continue to adopt new technologies, such as virtual reality and augmented reality, to enhance the user experience and provide new ways for people to access and interact with materials.

Expanded e-book and digital collections: Libraries may continue to expand their digital collections, including e-books and other electronic resources, to make it easier for people to access materials from anywhere.

Personalized recommendations and services: Libraries may use artificial intelligence and other technologies to provide personalized recommendations and services to users based on their interests and needs.

Increased collaboration and partnerships: Libraries may collaborate with other organizations and institutions to provide a wider range of services and resources to their users.

Focus on social and cultural programming: Libraries may place a greater emphasis on social and cultural programming, such as events, lectures, and workshops, as a way to foster community engagement and support lifelong learning.




</p>
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://c4.wallpaperflare.com/wallpaper/767/594/322/books-library-bokeh-depth-of-field-wallpaper-preview.jpg" class="-img-fluid" alt=""/>
                        </div>
                    </div>
                </div>



</body>
</html>

{% endblock %}