{% extends 'layout.html' %}
{% block body %}
<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<div class="container">
	<center><h1>THANK YOU</h1></center>

	<center><i class="fa fa-check" style="font-size:238px;color:green"></i></center>

<h5 class="jumbotron">Dear [Client], <br>

Thank you for your email. We are glad to hear from you and appreciate your business. We will do our best to address your concerns and provide you with the best service possible. If you have any further questions or need assistance with anything, please don't hesitate to contact us.

Thank you again for visiting our website. <br>

Sincerely,</h5>
</div>

</body>
</html>

















{% endblock %}